<!-- RECENT SONGS --> <br>
<div class="row justify-content-between" style="padding:0;">
    <div class="col-sm-5" style="padding:0;">
        <div class="row">
            <% for (let i=4; i>= 0 ; i--) { %>
                <% if (playlistOneRecentTracks[i] === null || playlistOneRecentTracks[i] === undefined) { %>
                    <div class="col itemCard"></div>
                <% } else { %>
                    <div class="col itemCard">

                        <img class="img" src="<%= playlistOneRecentTracks[i][1].album.images[1].url %>"
                            style="margin-top: 1rem; width:120px; height: 120px; border: 1px solid rgba(255, 255, 255, 0.5);"
                            alt="artistImage" />

                        <p class="possibleOverflowLeft" style="margin-bottom: 0;"> 
                            <span class="artistName lead"> <%= playlistOneRecentTracks[i][1].name %> </span>    
                        </p>
            
                        <p class="possibleOverflowLeft" style="margin-bottom: 0;"> 
                            <span class="countValue lead" style="font-size:1.1rem;"> 
                                <%= playlistOneRecentTracks[i][1].artists[0].name %> 
                            </span> 
                        </p>
                        
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>

    <div class="col-sm-2" style="padding:0; display: table;"> 
        <div class="centeredDiv" style="display:table-cell; vertical-align:middle;"> 
            <p class="artistName lead"> Songs </p>
            <p class="artistName lead" style="font-size:1.1rem;"> Total </p>
            <p class="countValue lead" style="font-size:1.1rem;"> <%= playlistOneSongCount %> | <%= playlistTwoSongCount %> </p>
            <p class="countValue lead" style="font-size:1rem; font-style: italic;"> Showing most recent songs... </p>
        </div>
    </div>

    <div class="col-sm-5" style="padding:0;">
        <div class="row">
            <% for (let i=0; i < Math.min(5, playlistTwoRecentTracks.length); i++) { %>
                <div class="col itemCard">
                    <img class="img" src="<%= playlistTwoRecentTracks[i][1].album.images[1].url %>"
                        style="margin-top: 1rem; width:120px; height: 120px; border: 1px solid rgba(255, 255, 255, 0.5);"
                        alt="artistImage" />
                  
                    <p class="possibleOverflowRight" style="margin-bottom: 0;"> 
                        <span class="artistName lead"> <%= playlistTwoRecentTracks[i][1].name %> </span> 
                    </p>
                  
                    <p class="possibleOverflowRight" style="clear:both; margin-bottom: 0;"> 
                        <span class="countValue lead" style="font-size:1.1rem;"> 
                            <%= playlistTwoRecentTracks[i][1].artists[0].name %> 
                        </span> 
                    </p>
                </div>
            <% } %>
        </div>
    </div>
</div>

<hr class="rounded">

<!-- ARTISTS --> <br>
<div class="row justify-content-between" style="padding:0;">
    <div class="col-sm-5" style="padding:0;">
        <div class="row">
            <% for (let i=4; i>= 0 ; i--) { %>
                <% if (playlistOneArtistCount[i] === null || playlistOneArtistCount[i] === undefined) { %>
                    <div class="col itemCard"></div>
                <% } else { %>
                    <div class="col itemCard">
                        <img class="img" src="<%= playlistOneArtistCount[i][0].images[2].url %>"
                            style="margin-top: 1rem; width:120px; height: 120px; border: 1px solid rgba(255, 255, 255, 0.5);"
                            alt="artistImage" />
    
                        <p class="possibleOverflowLeft" style="margin-bottom: 0;"> 
                            <span class="artistName lead"> <%= playlistOneArtistCount[i][0].name %> </span> 
                        </p>
              
                        <p class="possibleOverflowLeft" style="margin-bottom: 0;"> 
                            <span class="countValue lead"> 
                                <%= playlistOneArtistCount[i][1] %>
                            </span> 
                        </p>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
    <div class="col-sm-2" style="padding:0; display: table;">
        <div class="centeredDiv" style="display:table-cell; vertical-align:middle;"> 
            <p class="artistName lead"> Artists </p>
            <p class="artistName lead" style="font-size:1.1rem;"> Unique Artists </p>
            <p class="countValue lead" style="font-size:1.1rem;"> <%= playlistOneArtistCount.length %> | <%= playlistTwoArtistCount.length %> </p>
            <p class="countValue lead" style="font-size:1rem; font-style: italic;"> Showing top five artists... </p>
        </div>
    </div>
    <div class="col-sm-5" style="padding:0;">
        <div class="row">
            <% for (let i=0; i < Math.min(5, playlistTwoArtistCount.length); i++) { %>
                <div class="col itemCard">
                    <img class="img" src="<%= playlistTwoArtistCount[i][0].images[2].url %>"
                        style="margin-top: 1rem; width:120px; height: 120px; border: 1px solid rgba(255, 255, 255, 0.5);"
                        alt="artistImage" />

                    <p class="possibleOverflowRight" style="margin-bottom: 0;"> 
                        <span class="artistName lead"> <%= playlistTwoArtistCount[i][0].name %> </span> 
                    </p>
          
                    <p class="possibleOverflowRight" style="clear:both; margin-bottom: 0;"> 
                        <span class="countValue lead"> 
                            <%= playlistTwoArtistCount[i][1] %>
                        </span> 
                    </p>
                </div>
                <% } %>
        </div>
    </div>
</div>

<hr class="rounded">

<!-- GENRES --> <br>
<div class="row justify-content-between" style="padding:0;">
    <div class="col-sm-5" style="padding:0; display: table;">
        <div style="display:table-cell; vertical-align:middle;">
            <div class="row">
                <% for (let i=4; i>= 0 ; i--) { %>
                    <% if (playlistOneGenres[i] === null || playlistOneGenres[i] === undefined) { %>
                        <div class="col genreCard"></div>
                    <% } else { %>
                        <div class="col genreCard">
                            <p class="possibleOverflowLeft" style="margin-bottom: 0;"> 
                                <span class="artistName lead"> <%= playlistOneGenres[i][0] %> </span> 
                            </p>
                
                            <p class="possibleOverflowLeft" style="margin-bottom: 0;"> 
                                <span class="countValue lead"> 
                                    <%= playlistOneGenres[i][1] %>
                                </span> 
                            </p>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <div class="col-sm-2" style="padding:0; display: table;">
        <div class="centeredDiv" style="display:table-cell; vertical-align:middle; height:107px;"> 
            <p class="artistName lead"> Genres </p>
            <p class="artistName lead" style="font-size:1.1rem;"> Unique Genres </p>
            <p class="countValue lead" style="font-size:1.1rem;"> <%= playlistOneGenreCount %> | <%= playlistTwoGenreCount %> </p>
            <p class="countValue lead" style="font-size:1rem; font-style: italic;"> Showing top five genres... </p>
        </div>
    </div>
    <div class="col-sm-5" style="padding:0; display: table;">
        <div style="display:table-cell; vertical-align:middle;">
            <div class="row">
                <% if (playlistTwoGenres.length > 0) { %> 
                    <% for (let i=0; i < Math.min(5, playlistTwoGenres.length); i++) { %>
                        <div class="col genreCard">
                            <p class="possibleOverflowRight" style="margin-bottom: 0;"> 
                                <span class="artistName lead"> <%= playlistTwoGenres[i][0] %> </span> 
                            </p>
                
                            <p class="possibleOverflowRight" style="clear:both; margin-bottom: 0;"> 
                                <span class="countValue lead"> 
                                    <%= playlistTwoGenres[i][1] %>
                                </span> 
                            </p>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>