<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musical Matchmaker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/chart.css">
</head>


<body class="d-flex text-center text-white">

    <canvas id="backgroundCanvas" style="position:fixed"></canvas>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <header class="" style="margin-bottom:20px">
            <div>
                <div class="float-md-left">
                    <table>
                        <tr>
                            <h3 class="float-md-left mb-0">Musical Matchmaker: 
                                <% if (returnPoint == "/users") { %>
                                    Users
                                <% } else if (returnPoint == "/playlists") { %>
                                    Playlists
                                <% } %>
                            </h3> 
                        </tr>
                        <tr>
                            <h3 class="mb-0" style="font-size:1.2rem">Powered by <img class="img" src="/spotify-logo.png" style="margin:0;" width="100px"> Web API</h3>
                        </tr>
                    </table>
                </div>

                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="/"> Home </a>
                    <a class="nav-link active" aria-current="page" href="<%= returnPoint %>"> Go Back </a>
                    <% if(!accessTokenPresent) { %>
                        <a class="nav-link" href="/auth">Authenticate with Spotify</a>
                        <% } else { %>
                            <!-- <a class="nav-link" href="/logout">Logout</a> -->
                            <% } %>
                </nav>
            </div>
        </header>

        <main>



            <!-- TITLES -->
            <div class="row justify-content-between" style="padding:0;">
                <div class="col-sm-5" style="padding:0;">
                    <span>
                        <p class="lead possibleOverflowLeft" style="font-size: 30px; font-weight: 500;"> 
                            <a href="<%= linkToMainOne %>" target="_blank"> <%= playlistOneName %> </a>
                        </p>
                    </span>
                </div>
                <div class="col-sm-5" style="padding:0;">
                    <p class="lead possibleOverflowRight" style="font-size: 30px; font-weight: 500 ;"> 
                        <a href="<%= linkToMainTwo %>" target="_blank"> <%= playlistTwoName %> </a>
                    </p>
                </div>
            </div>



            <!-- INTRODUCTORY INFORMATION -->
            <div class="row justify-content-between" style="padding:0;">
                <div class="col-sm-5" style="padding:0;">
                    <div class="input-group w-5 h-5 align-items-center justify-content-center">
                        <span class="overflow topResults input-group-text form-control"
                            style="display:block;">
                            <a <% if (linkToOwnerOneExists) { %> href="<%= linkToOwnerOne %>" target="_blank" <% } %> > <%=playlistOneOwnerName %> </a> 
                        </span>
                        <span class="topResults input-group-text form-control" style="display:block;">
                            <%= playlistOneFollowerCount %> 

                            <% if (playlistOneFollowerCount > 1) { %>
                                Followers
                            <% } else { %>
                                Follower
                            <% } %>
                        </span>
                    </div>
                </div>

                <div class="col-sm-2" style="padding:0; display: table;"> 
                    <div class="centeredDiv" style="display:table-cell; vertical-align:middle;"> 
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <button class="swapButton btn selected" id="showSummaryButton">Summary</button>
                            <button class="swapButton btn" id="showMatchButton">Match</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5" style="padding:0;">
                    <div class="input-group w-5 h-5 align-items-center justify-content-center">
                        <span class="topResults input-group-text form-control" style="display:block;">
                            <%= playlistTwoFollowerCount %> 

                            <% if (playlistTwoFollowerCount > 1) { %>
                                Followers
                            <% } else { %>
                                Follower
                            <% } %>
                        </span>
                        <span class="topResults input-group-text form-control"
                            style="display:block;">
                            <a <% if (linkToOwnerTwoExists) { %> href="<%= linkToOwnerTwo %>" target="_blank" <% } %> > <%=playlistTwoOwnerName %> </a> 
                        </span>
                    </div>
                </div>
            </div> 

            <div class="totalPlaylistSummary">
                <%- include('partials/showPlaylistSummary.ejs') %>
            </div>

            <div class="totalPlaylistMatch">
                <%- include('partials/showPlaylistMatch.ejs') %>
            </div>

            <br>
            <hr class="rounded" style="height: 5px;">
            <br>

            <!-- SONG RELEASE DATES -->
            <h1 class="chartTitle">Song Release Dates</h1>
            <div class="row">
                <div class="col-sm-6" style="padding:10px;">
                    <div class="chart-wrapper" id="chart1"></div>
                </div>
                
                <div class="col-sm-6" style="padding:10px;">
                    <div class="chart-wrapper" id="chart2"></div>
                </div>
            </div>

            <hr class="rounded">

            <!-- SONG COUNT OVER TIME -->
            <h1 class="chartTitle">Number of Songs Over Time</h1>
            <p style="font-style:italic">*Not accounting for removed songs*</p>
            <div class="row">
                <div class="col-sm-6" style="padding:10px;">
                    <div class="chart-wrapper" id="chart3"></div>
                </div>
                
                <div class="col-sm-6" style="padding:10px;">
                    <div class="chart-wrapper" id="chart4"></div>
                </div>
            </div>

            <hr class="rounded">

            <!-- GENRE COUNTS OVER TIME -->
            <h1 class="chartTitle">Trends of Top Genres over Time</h1>
            <p style="font-style:italic">*Not accounting for removed songs*</p>
            <div class="row">
                <div class="col-sm-6" style="padding:10px;">
                    <div class="chart-wrapper" id="chart5"></div>
                </div>
                
                <div class="col-sm-6" style="padding:10px;">
                    <div class="chart-wrapper" id="chart6"></div>
                </div>
            </div>

        </main> 
        
        <footer class="mt-auto text-white-50">
            <p>&copy; 2022 </p>
        </footer>


    </div>

    <!-- JavaScript / JQuery -->
    <script>
        const dotColor = '#1DB954';
        let bothPlaylistsValid = false; // disable the button compare playlists if not, use jquery

        var playlistOneTracks = <%- JSON.stringify(playlistOneAllSongs) %>; // Ignore error, it works
        var playlistOneArtists = <%- JSON.stringify(playlistOneAllArtists) %>;

        var playlistTwoTracks = <%- JSON.stringify(playlistTwoAllSongs) %>; // Ignore error, it works
        var playlistTwoArtists = <%- JSON.stringify(playlistTwoAllArtists) %>;

        var playlistOneGenres = <%- JSON.stringify(playlistOneGenres) %>;
        var playlistTwoGenres = <%- JSON.stringify(playlistTwoGenres) %>;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(".possibleOverflowLeft").each(function(){
            e = $(this);
            e.addClass('overflow');
        });

        $(".possibleOverflowRight").each(function(){
            e = $(this);
            e.addClass('rightOverflow');
        });

        checkOverflowElements();

        $('.totalPlaylistSummary').attr("hidden", false);
        $('.totalPlaylistMatch').attr("hidden", true);

        jQuery(':button').click(function () {
            if (this.id == 'showSummaryButton') {

                jQuery('#showSummaryButton').addClass('selected');
                $('.totalPlaylistSummary').attr("hidden", false);

                jQuery('#showMatchButton').removeClass('selected');
                $('.totalPlaylistMatch').attr("hidden", true);
            }
            else if (this.id == 'showMatchButton') {

                jQuery('#showMatchButton').addClass('selected');
                $('.totalPlaylistMatch').attr("hidden", false);

                jQuery('#showSummaryButton').removeClass('selected');
                $('.totalPlaylistSummary').attr("hidden", true);
            }
        });

        function checkOverflowElements() {
            var toBeRemoved = []
            // DETECT ELLIPSIS AND GIVE CLASS

            // FOR LEFT
            $(".overflow").each(function(){
                // Test if the div element is empty
                e = $(this);
                if(!isEllipsisActive(e)) {
                    toBeRemoved.push(e);// Elipsis not active
                }
            });

            // FOR RIGHT
            $(".rightOverflow").each(function(){
                // Test if the div element is empty
                e = $(this);
                if(!isEllipsisActive(e)) {
                    toBeRemoved.push(e);// Elipsis not active
                }
            });

            for (let i = 0; i < toBeRemoved.length; i++) {
                e = toBeRemoved[i];
                e.removeClass('overflow');
                e.removeClass('rightOverflow');
            }
        }

        function isEllipsisActive($jQueryObject) {
            // Rounding because sometimes values come out to be 96.025 etc where it should be 96
            return (Math.round($jQueryObject.width()) < Math.round($jQueryObject[0].scrollWidth));
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="/javascripts/backgroundCanvas.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="/javascripts/chart.js"></script>
    </script>
</body>

</html>